{% extends 'layout.html.twig' %}
{% block body %}
    {{ data }}
    <ul>
        <li><a href="/contact/mark">Mark</a></li>
        <li><a href="/contact/armin">Armin</a></li>
    </ul>
{% endblock %}
